.btn
    &, &:link,&:visited
        
        padding: 10px 20px
        background: #007bf0
        text-decoration: none
        color: $color-white
        border-radius: 5px
        transition: .2s all ease
        display: inline-block
        text-transform: uppercase
        position: relative
        border: none
        &:hover
            background-color: $color-blue-dark
            box-shadow: $box-shadow
            transform: translateY(-4px)
            &::after
                transform: scale(1.6) scale(1.8)
                opacity: 0
        &:active
            transform: translate(-2px)
            box-shadow: $box-shadow
        &::after
            content: ""
            background: $color-blue-dark
            height: 100%
            width: 100%
            border-radius: 50px
            display: inline-block
            position: absolute
            top: 0
            left: 0
            z-index: -1
            transition: all .6s
        &_animated
            animation: BtnToUp .3s p ease-out 1s
            animation-fill-mode: backwards

.btn_bounce
    animation: Bounce 1s infinite, color-change 5s infinite 


.btn_wants
    
    


// .btn 
//     &, &:link,&:visited
//         @include style-link($color-gray)
//         padding: 15px 40px
//         border-radius: 50px 
//         background: $color-white
//         position: relative
//         // margin-top: 50px    
//         transition: all .3s
//         font-size: 20px
//         display: inline-block
//         border: none
//     &:hover
//         transform: translateY(-4px)
//         box-shadow: $box-shadow
//         &::after
//             transform: scaleX(1.6) scaleY(1.8)
//             opacity: 0
//     &:active
//         transform: translateY(-2px)
//         box-shadow: (0 4px 4px rgba(0, 0, 0, 0.2))
//     &::after
//         content: ""
//         background: white
//         height: 100%
//         width: 100%
//         border-radius: 50px 
//         display: inline-block  
//         position: absolute
//         top: 0
//         left: 0     
//         z-index: -1
//         transition: all .6s
//     &_animated
//         animation: BtnToUp .3s ease-out 1s
//         animation-fill-mode: backwards 

// .btn_brown
//     &, &:link,&:visited
//         background: $color-brown-dark
//         color: $color-white
//     &:hover
//     &::after
//         background: $color-brown-dark